attrs==19.1.0
click-plugins==1.1.1
click==7.0
cligj==0.5.0
cycler==0.10.0
descartes==1.1.0
dill==0.3.0
fiona==1.8.6
geopandas==0.5.0
kiwisolver==1.1.0
matplotlib==3.1.1
munch==2.3.2
numpy==1.16.4
palettable==3.1.1
pandas==0.24.2
pyparsing==2.4.0
pyproj==2.2.1
pyqt5-sip==4.19.18
pyqt5==5.13.0
pysal==2.0.0
python-dateutil==2.8.0
pytz==2019.1
scipy==1.3.0
seaborn==0.9.0
shapely==1.6.4.post2
six==1.12.0
xlrd==1.2.0
